extends layout
include _includes/sharedHTMLfunctions

block content
     .row.banner
        .col-12
             h1 Ayo!
                small &nbsp; Find players to manage near you!
     .row
        .col-12.col-md-8
            .card
                .card-block
                    h4
                        a(href='/players/player') Maiterelo
                        small &nbsp;
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.far.fa-star
                            i.far.fa-star
                        span.badge.badge-pill.badge-default.float-right 100m
                    p.address 123 Street, Town 
                    .facilities 
                        span.badge.badge-warning False 9
                        span.badge.badge-warning Inside Center
                        span.badge.badge-warning Left Wing
        .col-12.col-md-4
            p.lead Ayo! helps you manage players and their development.